<div [ngClass]="popular?'grid color':'grid'">
    <div class="toggler">
        <fa-icon class="diamond" [icon] = "faDiamond" (click)="toggleSidenav()" (click)="popOff()"></fa-icon>
    </div>
    <div class="functions">
        <a routerLink="/" class="underline-hover-effect" (click)="popOff()">Home</a>
        <a class="underline-hover-effect" (click)="togglePopular()" >Popular</a>
        <a routerLink="/search" class="underline-hover-effect" (click)="popOff()">Search</a>
        <a routerLink="/podcasters" class="underline-hover-effect" (click)="popOff()">Podcasters</a>        
    </div>
    <div class="notification">
        <fa-icon [icon]="faBell"></fa-icon>
    </div>
</div>
