*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,fa-icon{
    margin: 20px;
}
fa-icon:hover{
    color: red;
    transition: 0.5s;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    align-items: center;
}
li{
    list-style-type: none;
}
a{
    margin: 20px 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
a.underline-hover-effect {
    text-decoration: none;
    color: inherit;
}

.underline-hover-effect {
    display: inline-block;
    padding-bottom: 0.25rem;
    /* defines the space between text and underline */
    position: relative;
}

.underline-hover-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: rgb(230, 78, 78);
    transition: width 0.25s ease-out;
}

.underline-hover-effect:hover::before {
    width: 70%;
}
@media only screen and(max-width:550px){

    .grid{
        display: none;
        grid-template-columns: 3fr 1fr;
    }
    .notification{
        display: none;
    }
}

button{
    border: none;
    background-color: white;
    cursor: pointer;
}

.color{
    background-color: #201d42;
    color: white;
}

.color fa-icon{
    color: white;
}

.diamond, .notification{
    font-size: 20px;
    
}
fa-icon:hover{
    transform: rotate(90deg);
}