.Container{
    color: white;
    font-size: 20px;
    height: 100vh;
    padding: 20px 20px 20px 0;
}
.topSegment{
    background-color: #363356;
    padding: 20px 20px 20px 20px;
    border-radius: 0px 20px 20px 0;
}
.head{
    display: flex;
    min-width: 100%;
    justify-content: space-between;
}
.head .titleP{
    font-size: 30px;
}
.head .categoryP{
    font-size: 15px;
    color: #aaa;
}

.tile{
    background-color: #db5370;
    height: 100px;
    width: 100px;
    margin: 5px;
    border-radius: 15px;
    cursor: pointer;
}

.tiles{
    display: flex;
    justify-content: space-between;
}
.tile:hover{
    opacity: .7;
    transition: 0.5s;
}
#tile1{
    background: url('https://images.unsplash.com/photo-1442528010304-834a5d4f3925?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}#tile2{
    background: url('https://images.unsplash.com/photo-1532202802379-df93d543bac3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}#tile3{
    background: url('https://images.unsplash.com/photo-1554223090-7e482851df45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1103&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.links{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.links a{
    font-size: 10px;
    text-decoration: underline;
}
.searchBar{
    display: flex;
    justify-content: space-between;
}
a.searchHist{
    font-size: 10px;
}


.popularGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "m1 m2 m3 m4 m5"
    "m6 m2 m7 m7 m5";
    margin-left: 15px;
}
.mTile{
    background-color: #db5370;
    border-radius: 15px;
    margin: 8px;
    font-size: 12px;
    padding: 8px;
    display: flex;
    align-items: flex-end;
    font-size: 13px;
    color: black;
}
.mTile:hover{
    opacity: 0.7;
    cursor: pointer;
    transition: 0.7s;
}

#m1{
    grid-area: m1;
    min-height: 60px;
    min-width: 60px;
    background-image: linear-gradient(#dbfeff,#b4cbfa);
}
#m2{
    grid-area: m2;
    min-height: 120px;
    min-width: 60px;
    background-image: linear-gradient(#aae4fe,#fcdbf9);
}
#m3{
    grid-area: m3;
    min-height: 60px;
    min-width: 60px;
    background-image: linear-gradient(#fec9a8,#f9eecd);
}
#m4{
    grid-area: m4;
    min-height: 60px;
    min-width: 60px;
    background-image: linear-gradient(#fef2cc,#cef9f7);
}
#m5{
    grid-area: m5;
    min-height: 120px;
    min-width: 60px;
    background-image: linear-gradient(#fedcfa,#ace3fd);
}
#m6{
    grid-area: m6;
    min-height: 60px;
    min-width: 60px;
    background-image: linear-gradient(#dcbdfc,#f9bfd7);
}
#m7{
    grid-area: m7;
    min-height: 60px;
    min-width: 120px;
    background-image: linear-gradient(#b1cafc,#c4c3fd);
}

input{
    padding: 10px;
    background: transparent;
    border: none;
    margin-left: 20px;
    font-size: 30px;
    margin-top: 20px;
    
}