<div class="Container" *ngIf="popular">
    <div class="popular">
        <div class="topSegment">
            <div class="head">
                <p class="titleP">Popular</p>
                <p class="categoryP">All</p>
                <p class="categoryP">LifeStyle</p>
                <p class="categoryP">Sport</p>
                <p class="categoryP">Art&Craft</p>
            </div>
            <div class="tiles">
                <div class="tile" id="tile1"></div>
                <div class="tile" id="tile2"></div>
                <div class="tile" id="tile3"></div>
            </div>
            <div class="links">
                <a href="">filters</a>
                <a href="">See more &it;</a>
            </div>
        </div>
        <div class="searchbar">
            <input type="text" placeholder="Search">
            <a class="searchHist">Search history &it;</a>
        </div>
        <div class="popularGrid">
            <div class="mTile" id="m1">Fashion 2019</div>
            <div class="mTile" id="m2">UX talks</div>
            <div class="mTile" id="m3">About food</div>
            <div class="mTile" id="m4">About drink</div>
            <div class="mTile" id="m5">Inspiration</div>
            <div class="mTile" id="m6">Art in Chicago</div>
            <div class="mTile" id="m7">Street culture in USA</div>
        </div>
    </div>
</div>