.grid{
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    transition: all 0.5s ease;
}
@media only screen and (max-width:1000px){
    .grid{
        grid-template-columns: 2fr 1fr;
    }    
    .collapse{
        display: none;
    }
}

@media only screen and (max-width: 800px){
    .grid{
        grid-template-columns: 1.5fr 1fr;
    }
}
*{
    box-sizing: border-box;
}
.main{
    display: flex;
    background-color: #201d42;
    width: 99vw;
}
.popular{
    padding-right: 30px;
    width: 100%;
}
.router, .collapse{
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    max-width: 65%;
    padding: 1px;
}
.expand{
    max-width: 100%;
}
