app says {{message}} <br>

change message by clicking --> <button (click)="changeMessage()">Change Message</button>

<div class="container">
  <div [ngClass]="sidenav==true?'grid':''">
    <div class="header">
      <app-header (sidenavEvent)="receiveSidenav()" (popularEvent)="receivePopular()" (turnOffPopularEvent)="turnPopularOff()"></app-header>
      <div [ngClass]="popular?'main':''">
        <div class="popular">
          <app-popular [popular]="popular"></app-popular>
        </div>
        <div [ngClass]="popular?'router':'expand'" [ngClass]="popular?'collapse':''">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <app-sidenav [sidenav] = "sidenav"></app-sidenav>
  </div>
</div>
