<div class="container">
    <p class="main">Our Podcasters</p>
    <div class="podcasters">
        <div class="m1"><p>Charles Bradley</p></div>
        <div class="m2"><p>WC Chang</p></div>
        <div class="m3"><p>Julia Venter</p></div>
        <div class="m4"><p>Jon Sow</p></div>
        <div class="m5"><p>John Sina</p></div>
        <div class="m6"><p>Find more</p></div>
    </div>    
    <p class="main">Trending this week</p>
    <div class="trending">
        <div id="m1"><p>The art of meditation.</p></div>
        <div id="m2"><p>Geopolitics in Asia</p></div>
        <div id="m3"><p>Life on other planets</p></div>
        <div id="m4"><p>Don't Procrastinate!</p></div>
        <div id="m5"><p>How to deal with Anxiety?</p></div>
        <div id="m6"><p>Exam preparation tips.</p></div>
        <div id="m7"><p>Help yourself</p></div>
        <div id="m8"><a>More</a></div>
    </div>
</div>