.m1, .m2, .m3, .m4, .m5, .m6, #m1, #m2, #m3, #m4, #m5, #m6, #m7, #m8{
    height: 200px;
    width: 100%px;
    margin: 10px 20px;
    padding: 10px;
    background-color: yellow;
    border-radius: 15px;
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-size: 20px;
    min-width: 117px;
}

.m1{
    grid-area: m1;
}
.m2{
    grid-area: m2;
}
.m3{
    grid-area: m3;
}
.m4{
    grid-area: m4;
}
.m5{
    grid-area: m5;
    color: black;
}
.m6{
    grid-area: m6;
    color: black;
}

.main{
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}
p.main:hover{
    cursor: pointer;
    text-decoration: underline;
}

.m1{
    background: url('https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80');
    background-position: 50%;
    background-size: cover;
}
.m2{
    background: url('https://images.unsplash.com/photo-1594546325110-a530729c3f99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80');
    background-position: 50%;
    background-size: cover;
}
.m3{
    background: url('https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=461&q=80');
    background-position: 50%;
    background-size: cover;
    color: black;
}
.m4{
    background: url('https://images.unsplash.com/photo-1457052271742-6b6b66887aeb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-position: 0%;
    background-size: cover;
}
.m5{
    background: url('https://images.unsplash.com/photo-1621347311229-fd6e0b5a75e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    background-position: 50%;
    background-size: cover;
}
#m1{
    background: url('https://images.unsplash.com/photo-1554244933-d876deb6b2ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80');
    background-position: 50%;
    background-size: cover;
    grid-area: M1;
}
#m2{
    background: url('https://images.unsplash.com/photo-1578403881967-084f9885be74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=588&q=80');
    background-position: 50%;
    background-size: cover;
    grid-area: M2;
}
#m3{
    background: url('https://images.unsplash.com/photo-1530634830320-24e8d54b19dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=520&q=80');
    background-position: 50%;
    background-size: cover;
    grid-area: M3;
}
#m4{
    background: url('https://images.unsplash.com/photo-1524850011238-e3d235c7d4c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=564&q=80');
    background-position: 50%;
    background-size: cover;
    grid-area: M4;
}
#m5{
    background: url('https://images.unsplash.com/photo-1594044126493-d951fc64e4f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80');
    background-position: 50%;
    background-size: cover;
    grid-area: M5;
}
#m6{
    background: url('https://images.unsplash.com/photo-1471970471555-19d4b113e9ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80');
    background-position: 50%;
    background-size: cover;
    grid-area: M6;
}
#m7{
    background: url('https://images.unsplash.com/photo-1487687944474-d9cf58dda287?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=425&q=80');
    background-position: 50%;
    background-size: cover;
    grid-area: M7;
}
.m6,#m8{
    background: url('../../assets/more.jpg');
    background-position: 50%;
    background-size: cover;
    color: black;
}
#m8{
    grid-area: M8;
}

.podcasters,.trending{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "m1 m2 m2 m3"
    "m4 m4 m5 m6";

}
.trending{
    grid-template-areas: "M1 M2 M3 M4"
    "M5 M6 M7 M8";
}

@media only screen and (max-width: 600px){
    .podcasters{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "m1 m3"
        "m2 m2"
        "m4 m4"
        "m5 m6";
    }
    .trending{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "M1 M2"
        "M3 M4"
        "M5 M6"
        "M7 M8";
    }
    .main, .podcasters,.trending{
        margin-left: 0px;
        margin-right: 0px;
    }
    
}

.main, .podcasters,.trending{
    margin-left: 100px;
    margin-right: 40px;
}