

:host{
    background-color: #f3f8fd;
    height: 100vh;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    left: 25%;
    padding: 30px;
}

h3 a{
    text-decoration: none;
    color: black;
    text-align: center;
    position: relative;
    left: 25%;
    padding: 0 20px;
    font-size: 20px;
}
.main{
    font-size: 16px;
    padding: 0px 25px;
}
.additional{
    font-size: 12px;
    padding: 0 25px;
    color: #999;
    position: relative;
    left: 10%;
}

.following, .saved, .history{
    margin: 20px 0;
}

.accountFunctions a{
    text-decoration: none;
    color: black;
}

.accountFunctions a:hover{
    color: brown;
    transition: 0.2s;
}

.accountFunctions{
    margin-top: 40px;
}

.BalanceGrid{
    display: grid;
    grid-template-columns: 3fr 1fr auto;
    padding: 20px 25px;
}
h2{
    font-weight: 400;
}
.left a{
    text-decoration: none;
    color: #ee6d89;
}

.learnMoreGrid{
    height: 150px;
    width: 80%;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #ed5575;
    color: white;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

.learnMoreGrid a{
    text-decoration: none;
    color: white;
    text-align: right;
}

.learnMoreMain{
    font-size: 30px;
}

.learnMoreMain p.become{
    font-weight: 100;   
}
.container{
    width: 100%;
    transition: all 0.5s ease;
    /* position: fixed; */
}
.collapsed{
    display: none;
    transition: all 1s ease;
}