<div [ngClass]="sidenav?'container':'collapsed'">
    <div class="usrbox">
        <div class="usrImg">
            <img src="https://th.bing.com/th/id/OIP.zC7ZguzXVU6cE7iLkSMBkgHaHa?pid=ImgDet&rs=1" alt="">
        </div>
        <h3><a href="">Bruce Banner</a></h3>
    </div>
    <div class="accountFunctions">
        <div class="following">
            <!--Icon-->
            <a href="" class="main"><fa-icon [icon]="faUserGroup"></fa-icon>&nbsp;&nbsp;&nbsp;Following podcasters</a>
            <p class="additional">14 podcasters</p>
        </div>
        <div class="saved">
            <!--Icon-->
            <a href="" class="main"><fa-icon [icon]="faHardDrive"></fa-icon>&nbsp;&nbsp;&nbsp;Saved podcasts</a>
            <p class="additional">14 podcasters</p>
        </div>
        <div class="history">
            <!--Icon-->
            <a href="" class="main"><fa-icon [icon]="faHardDrive"></fa-icon>&nbsp;&nbsp;&nbsp;History</a>

        </div>
    </div>
    <div class="BalanceGrid">
        <div class="left">
            <h2>Balance</h2>
            <a href="">Add funds ></a>
        </div>
        <div class="right"><h1>$ 120</h1></div>
    </div>

    <div class="learnMoreGrid">
        <p>Anything to tell the audience?</p>
        <div class="learnMoreMain">
            <p class="become">Become</p>
            <p>a podcaster!</p>
        </div>
        <a href="" class="bottomRight"><span>Learn more</span> ></a>
    </div>
</div>