<div class="container">
    <button class="back">&lt; Back</button>
    <div class="videoContainer">
        <div class="video">
            <video src="../../assets/sample.mp4" controls></video>
            <div class="buttons">
                <button class="like"><fa-icon [icon]="faThumbsUp"></fa-icon></button>
                <button class="share"><fa-icon [icon]="faShare"></fa-icon></button>
                <button class="addToList"><fa-icon [icon]="faList"></fa-icon></button>
            </div>
            <div class="content">
                <h1>Heading</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quaerat saepe voluptate asperiores mollitia, accusamus nisi explicabo ratione ea nihil est distinctio iusto quibusdamr provident ut quibusdam voluptatum sunt fugit quisquam odio exercitationem et iusto laudantium enim facere explicabo distinctio debitis! Accusantium possimus dolorum nesciunt saepe voluptas fugiat at sunt cumque? Ratione quae esse recusandae quod veniam, incidunt similique nam officiis harum non fuga blanditiis, corrupti sequi at a qui in! Repudiandae incidunt illum expedita ut eveniet ratione dolorum repellendus!</p>
            </div>
        </div>
    </div>
    <div class="article">
        <h1></h1>
        <div class="authorDetails">
            <img src="https://th.bing.com/th/id/OIP.zC7ZguzXVU6cE7iLkSMBkgHaHa?pid=ImgDet&rs=1" alt="">
            <p>Bruce Banner</p>
            <a href="" class="a1">Gamma Radiation</a>
            <a href="" class="a2">BioPhysics</a>
        </div>
        <div class="overview">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis ipsum ex ullam voluptatem neque a delectus ipsam incidunt est maxime, ratione nam magnam, officiis exercitationem quidem laborum facilis quae suscipit perferendis voluptatum officia tempore laboriosam voluptas! Necessitatibus illum itaque aspernatur dignissimos autem cum voluptas totam est doloribus, eius quibusdam ad commodi libero repudiandae eum! Ratione, magnam magni, alias totam nostrum tenetur nihil iste a nemo, quos dolor nam fugiat assumenda consectetur numquam. Debitis laudantium harum doloremque inventore, et laborum minus atque iste optio perferendis accusantium repudiandae eaque quaerat molestias dolor totam accusamus cupiditate maxime nobis eligendi. Beatae voluptate voluptas hic.
        </div>
        <div class="comments"><fa-icon [icon]="faComment"></fa-icon>&nbsp;&nbsp;&nbsp;&nbsp;72 Comments</div>
    </div>
</div>