.container{
    padding: 30px;
    padding-left: 100px;
}
.video{
    display: grid;
    grid-template-columns: 4fr 1fr 3fr;
    grid-template-areas: "video buttons content";
    column-gap: 10px;
    align-items: center;
}
.content{
    grid-area: content;
    text-align: justify;
}
@media only screen and (max-width:1000px){
    .video{
        grid-template-columns: 6fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "video video video video video video buttons"
        "content content content content content content content";
        row-gap: 15px;
    }
    video{
        min-width: 300px;
    }
    .buttons{
        max-width: 100px;
    }
}
video{
    grid-area: video;
    height: auto;
    width: 100%;
    border-radius: 20px;
}

.buttons{
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
fa-icon{
    font-size: 20px;
}

.like{
    grid-area: like;
}
.share{
    grid-area: share;
}
.addToList{
    grid-area: addToList;
}
.authorDetails{
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 6fr 1.2fr 1.2fr;
    grid-template-areas: "imag p a1 a2";
}
.authorDetails img{
    margin: 0;
    padding: 0;
    height: 50px;
    width: 50px;
    border-radius: 20px;
    grid-area: imag;
}
.authorDetails p{
    font-size: 20px;
    padding: 15px 0;
    grid-area: p;
}
a{
    color: #666;padding: 15px 0;

}
.authorDetails.a1{
    grid-area: a1;
}
.authorDetails.a2{
    grid-area: a2;
}
.overview{
    font-size: 16px;
    text-align: justify;
}
.comments{
    margin: 20px 0;
    font-size: 30px;
}
.buttons button{
    color: gray;
    background-color: white;
    border: none;
    border-radius: 20px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin: 20px 0;
}
.videoContainer{
    margin: 20px 20px;
}
.article{
    margin: 80px 0;
}
button.back{
    color: #666;
    background-color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

button.back:hover{
    color: black;
    text-decoration: underline;
}
.buttons button:hover{
    color: rgb(241, 79, 79);
    background-color: #ccc;
}
