.leftGrid{
    grid-area: leftGrid;
}
.musicPlayer{
    grid-area: musicPlayer;
}

.topGrid{
    display: grid;
    grid-template-columns: repeat(autofit, minmax(1000px));
    grid-template-rows: 1fr;
    grid-template-areas: "leftGrid musicPlayer";
    padding: 20px;

}

a{
    text-decoration: none;
    color: #999;
    font-size: 25px;
}
.search{
    text-align: center;
    padding: 20px;
    border: 3px solid #211d42;
    border-radius: 15px;
    margin: 20px;
}
.bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}
.podcasts, .trends{
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 15px;
}
.trends{
    margin-right: 20px;
    text-align: center;
    background-color: yellow;
}

.trends a{
    position: relative;
    top: 30%;
    font-size: 30px;
    color: #211d42;
}

.podcasts{
    background-color: #4d53e0;
    color: white;
}
.podcasts:hover{
    background-color: #6d72f9;
    transition: 0.5s;
}
.podcasts p.status{
    font-size: 14px;
}
.podcasts p.info{
    font-size: 18px;
}
div.musicPlayer{
    padding: 40px;
}
.musicPlayer>h3{
    font-size: 18px;
}
.song{
    display: grid;
    background-color: #f3f8fd;
    border-radius: 15px;
    grid-template-columns: 1fr 2fr 1fr;
}

.img img{
    padding: 10px;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin: 5px;
    margin-left: 20px;
}

.name p.title{
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
.title{
    font-size: 18px;
}
.author{
    color: #666;
}
.playBtn{
    display: flex;
    align-items: center;
    border-radius: 100%;
    margin-right:20px;
}
.playBtn a{
    font-size: 30px;
    margin-left: 10%;
    height: 40px;
    width: 35px;
    top: 10px;
    align-items: center;
    color: #ed5575;
    border: 4px solid #e5edf5;
    padding: 20px;
    padding-left: 25px;
    border-radius: 50%
}
.playBtn a:hover{
    color: #db5370;
    transition: 0.2s;
}
fa-icon{
    position: relative;
    top: 5px;
    left: 5px;
}
div.leftGrid{
    padding: 20px;
}

.search:hover{
    background-color: #eee;
    transition: 0.5s;
}
.trends:hover{
    background-color: rgb(255, 255, 115);
    cursor: pointer;
    transition: 0.5s;
}

.progressline{
    position: relative;
    left: 10px;
    top: -3px;
    height: 4px;
    width: 95%;
    background-color: #eee;
    border-radius: 100px;
}
.progress{
    background-color: #ed5575;
    width: 50%;
    height: 4px;
    border-radius: 100px;
}
.meditate{
    background-image: url('https://images.unsplash.com/photo-1559595500-e15296bdbb48?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80');
    grid-area: meditate;
    height: auto;
    min-width: 306px;
}

.inspiration{
    background-image: url('https://images.unsplash.com/photo-1525268771113-32d9e9021a97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80');
    height: auto;
    grid-area: inspiration;
    min-width: 180px;
    
}

.fashion{
    background-image: url('https://images.unsplash.com/photo-1508296695146-257a814070b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80');
    height: 180px;
    grid-area: fashion;
    min-width: 180px;
    
}
.meditate, .inspiration, .fashion{
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}
.PersonalBoard{
    padding: 30px;
    margin: 20px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "LGrid RGrid";
    color: white;
    text-align: center;
}
@media only screen and (max-width:1000px){
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "LGrid"
        "RGrid";
    }
    .topGrid{
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "leftGrid leftGrid" 
        "musicPlayer musicPlayer";
    }
}

.LGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "meditate meditate"
    "inspiration fashion";
    grid-area: LGrid;
}

p span{
    font-weight: 100;
}
.RGrid{
    grid-area: RGrid;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "TGrid" "BGrid";
    margin: 10px;
    grid-gap: 15px;
}

.TGrid{
    grid-area: TGrid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "wallpaper music architecture architecture"
    "category category architecture architecture";
    row-gap: 10px;
    column-gap: 10px;
}
.wallpaper{
    grid-area: wallpaper;
    background: url('https://images.unsplash.com/photo-1558865869-c93f6f8482af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=581&q=80');
    height: auto;
    min-width: 90px;
}
.music{
    grid-area: music;
    background: url('https://images.unsplash.com/photo-1507808973436-a4ed7b5e87c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80');
    height: auto;
    min-width: 90px;
}
.category{
    grid-area: category;
    background: wheat;
    height: auto;
}
.architecture{
    grid-area: architecture;
    background: url('https://images.unsplash.com/photo-1546349851-64285be8e9fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    height: 270px;
    min-width: 220px;
}
.wallpaper,.music, .category,.architecture,.pie,.tic-tac{
    border-radius: 15px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    box-sizing: border-box;
    padding: 20px;
}
h2 span, .architecture span{
    font-weight: 100;
}
.BGrid{
    grid-area: BGrid;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "pie tic-tac";
    column-gap: 10px;
}
.pie{
    background: url('https://images.unsplash.com/photo-1613060800375-a02e17b3915b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1112&q=80');
    height: 100%;
}
.tic-tac{
    background: url('https://images.unsplash.com/photo-1608308309302-c39ee455ed0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    height: 100%;
}

input{
    margin: 5px;
    padding: 15px 30px;
    border: none;
    background-color: #0e0f3b;
    font-size: 20px;
    color: white;
}
.container{
    background-color: white;
    grid-area: c;
}
.ifClass{
    border-radius: 20px;
    background-color: white;
    margin: 10px;
}

