home says {{message}}

<div class="topGrid">
    <div class="leftGrid">
        <a href="">
            <div class="search">
                <fa-icon [icon]="faSearch"></fa-icon>
            </div>
        </a>
        <div class="bottom">
            <a href="">
                <div class="podcasts">
                    <p class="status">Online</p>
                    <p class="info">217 <span>podcasts</span></p>
                </div>
            </a>
            <div class="trends">
                <a href="" class="main">Trends</a>
            </div>
        </div>
    </div>
    <div class="musicPlayer">
        <h3>Where we finished</h3>
        <div class="music-container">
            <div class="song">
                <div class="img"><img
                        src="https://images.unsplash.com/photo-1524678606370-a47ad25cb82a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
                        alt=""></div>
                <div class="name">
                    <p class="title">Podcast Name</p>
                    <p class="author">Podcaster</p>
                </div>
                <div class="playBtn">
                    <a href="">
                        <fa-icon [icon]="faPlay"></fa-icon>
                    </a>
                </div>
            </div>
            <div class="progressBar">
                <div class="progressline">
                    <div class="progress"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="PersonalBoard">
    <h1>Personal Board</h1>
    <div class="grid">
        <div class="LGrid">
            <div class="meditate">
                <p><span>How to</span> meditate</p>
            </div>
            <div class="inspiration">
                <p>Inspiration</p>
            </div>
            <div class="fashion">
                <p>Fashion</p>
            </div>
        </div>
        <div class="RGrid">
            <div class="TGrid">

                <div class="wallpaper"></div>
                <div class="music"></div>
                <div class="category">
                    <p>category</p>
                    <h2><span>UI/UX</span> design</h2>
                </div>
                <div class="architecture"><span>History of</span>&nbsp;</div>
            </div>
            <div class="BGrid">
                <div class="pie">Orange Pie</div>
                <div class="tic-tac"></div>
            </div>
        </div>
    </div>
</div>